*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    background-color: rgba(48, 184, 104, 1);
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}

.btn:hover{
    background-color: rgb(15, 15, 110);
}


/* header */

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}

header nav .logo{
    max-width: 139px;
    margin-top: 16px;
}

header nav .menu{
    display: flex;
    gap: 32px;
    cursor: pointer;
}

header nav .menu .t{
    font-size: 16px;
    font-weight: 500;
}

/* Hero */


#Banner{
    background-image: url("./assets/hero-bg.png");
    padding: 115px 120px 179px;
}

#Banner .banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Banner .banner-content .top{
    background-color: white;
    border-radius: 30px;
    padding: 8px 12px;
    color: rgba(48, 184, 104, 1);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

#Banner .banner-content .structured{
    font-size: 37px;
    font-weight: bold;
    line-height: 84px;
    color: white;
    margin-bottom: 16px;
    text-transform: capitalize;
    text-align: center;
}

#Banner .banner-content .structured .green{
    color: rgba(48, 184, 104, 1);
}

#Banner .banner-content .Text{
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
}

#Banner .banner-content .Button .w{
    margin-left: 16px;
    background: none;
    border: 1px solid white;
}

#Banner .banner-content .Button .w:hover{
    border: none;
    background-color: rgb(113, 137, 52);
}

/* About */

#about{
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

#about .about-section .text-part{
    margin: 30px 0 44px;
}

#about .about-section .text-part h2{
    margin-bottom: 16px;
    font-size: 48px;
}

#about .about-section .text-part p{
    font-size: 16px;
    line-height: 20px;
    color: #627392;
}

#about .about-section .about-container{
    /* border: 1px solid red; */
    width: 300px;
    padding: 70px 24px ;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#about .about-section .about-container img{
    background: #F95555;
    padding: 20px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 16px;
}

#about .about-section .about-container h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

#about .about-section .about-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627392;
}

#about .about-section .to-flex{
    display: flex;
    gap: 24px;
}
